[Desktop Entry]
Icon=unknown
Name=truebelief/CloudCompareMCP: Demo of CloudCompare MCP (you have to customize the code yourself)
Type=Link
URL[$e]=truebelief/CloudCompareMCP: Demo of CloudCompare MCP (you have to customize the code yourself)
